<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos de la Cita</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Datos de la Cita</h1>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${agenda}">
            <input type="hidden" name="idAgenda" th:field="*{idAgenda}"/>
            
            <label for="asunto">Asunto:</label>
            <input type="text" name="asunto" th:field="*{asunto}"/> <!-- el * es para modificar o seleccionar el atributo que seleccionemos-->
            <br/>
            <label for="fecha">Fecha:</label>
            <input type="date" name="day" th:field="*{day}"/> <!-- el * es para modificar o seleccionar el atributo que seleccionemos-->
            <br/>
            <label for="email">Email:</label>
            <input type="text" name="email" th:field="*{email}"/> <!-- el * es para modificar o seleccionar el atributo que seleccionemos-->
            <br/>
            <label for="telefono">Telefono:</label>
            <input type="text" name="telefono" th:field="*{telefono}"/> <!-- el * es para modificar o seleccionar el atributo que seleccionemos-->
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
            
        </form>
    </body>
</html>
